body {
  font-family: 'Open Sans', sans-serif; }

.btn-purple {
  color: #fff;
  background-color: #8E44AD;
  border-color: #8E44AD; }
  .btn-purple:hover, .btn-purple:focus {
    color: #fff;
    background-color: #561F6D;
    border-color: #6a3381;
    outline: none; }

.btn-dark {
  color: #FFF;
  background-color: #454648;
  border-color: #141619; }
  .btn-dark:hover, .btn-dark:focus {
    color: #FFF;
    background-color: #202021;
    border-color: #2f353b;
    outline: none; }

a:hover, button:hover {
  -khtml-transition: all 0.6s linear;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear; }

.btn {
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.navbar {
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid #fff; }

.wrapper {
  margin: 0;
  padding: 0; }
  .wrapper .wrap-1 {
    width: 100%;
    height: 630px;
    overflow: hidden;
    background-size: 100%;
    background: radial-gradient(ellipse at center, #1e5799 0%, rgba(54, 151, 142, 0.8) 0%, #0C526C 100%, #3d7eaa 100%, #182848 100%, #6e48aa 100%, #6e48aa 100%); }
    .wrapper .wrap-1 .w1-image {
      width: 100%;
      margin: 0 auto;
      margin-top: 145px;
      float: right;
      text-align: center; }
      .wrapper .wrap-1 .w1-image img {
        width: 100%; }
    .wrapper .wrap-1 .description {
      margin-top: 200px;
      color: white;
      padding: 5px; }
      .wrapper .wrap-1 .description h2 {
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        font-weight: 200;
        font-size: 34px; }
      .wrapper .wrap-1 .description h5 {
        line-height: 1.4;
        font-weight: 400;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        font-size: 18px; }
        .wrapper .wrap-1 .description h5 p {
          text-align: left;
          text-indent: 30px;
          font-size: 16px; }
  .wrapper .header-text {
    text-transform: uppercase;
    font-weight: 200;
    color: #666;
    margin-bottom: 20px;
    font-size: 26px;
    position: relative;
    line-height: 24px; }
  .wrapper .wp-desc {
    padding: 30px 0; }
    .wrapper .wp-desc p {
      text-indent: 30px;
      color: #666;
      margin-top: 30px;
      line-height: 28px;
      font-size: 15px;
      font-weight: 200; }
  .wrapper .wrap-2 {
    padding: 20px;
    border: 2px dashed #ddd;
    border-radius: 3px;
    margin-top: 60px; }
    .wrapper .wrap-2 .file-uploader {
      text-align: center;
      position: relative; }
      .wrapper .wrap-2 .file-uploader #drag-file-container {
        padding: 80px 0; }
      .wrapper .wrap-2 .file-uploader .fa {
        font-size: 80px;
        color: #bbb; }
      .wrapper .wrap-2 .file-uploader .upload-text {
        display: block;
        font-size: 20px;
        color: #bbb;
        margin-top: 10px; }
      .wrapper .wrap-2 .file-uploader .file-uploader-footer {
        text-align: left;
        margin-top: 10px; }
    .wrapper .wrap-2 #video-prop {
      max-height: 300px;
      border: 1px solid #ddd;
      -khtml-border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      -khtml-box-shadow: 0px 1px 3px #6B6B6B;
      -webkit-box-shadow: 0px 1px 3px #6B6B6B;
      -moz-box-shadow: 0px 1px 3px #6B6B6B;
      -ms-box-shadow: 0px 1px 3px #6B6B6B;
      -o-box-shadow: 0px 1px 3px #6B6B6B;
      box-shadow: 0px 1px 3px #6B6B6B;
      margin-bottom: 10px; }
    .wrapper .wrap-2 #video-control-drag .noUi-handle-lower .noUi-tooltip, .wrapper .wrap-2 #video-control-drag .noUi-handle-upper .noUi-tooltip {
      position: absolute;
      top: 24px;
      left: -2px;
      background-color: #333;
      white-space: nowrap;
      color: #fff;
      padding: 3px 5px;
      border-radius: 2px;
      font-size: 11px; }
      .wrapper .wrap-2 #video-control-drag .noUi-handle-lower .noUi-tooltip:before, .wrapper .wrap-2 #video-control-drag .noUi-handle-upper .noUi-tooltip:before {
        content: "";
        position: absolute;
        display: block;
        top: -6px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -3px;
        overflow: hidden;
        border: 3px solid transparent;
        border-bottom-color: #333; }
    .wrapper .wrap-2 #video-control-drag .noUi-handle-lower .noUi-tooltip:after, .wrapper .wrap-2 #video-control-drag .noUi-handle-upper .noUi-tooltip:after {
      content: 's'; }
    .wrapper .wrap-2 .video-action-tools {
      margin-top: 40px; }
    .wrapper .wrap-2 .noUi-target {
      height: 10px; }
      .wrapper .wrap-2 .noUi-target .noUi-handle {
        height: 20px;
        width: 20px;
        cursor: pointer;
        -khtml-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
        .wrapper .wrap-2 .noUi-target .noUi-handle:after {
          display: inline-block;
          width: 6px;
          height: 6px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -3px;
          margin-left: -3px;
          background-color: #666;
          border-radius: 100px; }
        .wrapper .wrap-2 .noUi-target .noUi-handle:before {
          background: none; }
      .wrapper .wrap-2 .noUi-target .noUi-connect {
        background: #03A9F4; }
  .wrapper .wrap-3, .wrapper .wrap-4, .wrapper .wrap-5 {
    padding: 100px 0; }
  .wrapper .w2-img img {
    width: 100%;
    height: auto;
    border-radius: 10px; }
  .wrapper .img-holder {
    width: 100%; }
  .wrapper .wrap-7 {
    padding: 70px 0 100px;
    overflow: hidden; }
    .wrapper .wrap-7 h3 {
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #888; }
    .wrapper .wrap-7 .owl-item {
      opacity: .7; }

footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 20px;
  color: #333;
  font-size: 13px; }
  footer .footer-mid span {
    display: block; }
  footer a {
    text-decoration: none; }
    footer a:hover, footer a:active, footer a:focus, footer a:visited {
      text-decoration: none; }
  footer .fa {
    display: inline-block;
    background: #dfdfdf;
    color: #888;
    font-size: 12px;
    text-decoration: none;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    -khtml-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out; }
    footer .fa:hover {
      text-decoration: none;
      background: #984949;
      color: #fff; }

/*# sourceMappingURL=convert.css.map */
