@mixin css3($property, $value...) {
    -khtml-#{$property}: $value;
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.btn-purple{
    color: #fff;
    background-color: #8E44AD;
    border-color: #8E44AD;

    &:hover, &:focus{
        color: #fff;
        background-color: #561F6D;
        border-color: #6a3381;
        outline: none;
    }
}

.btn-dark{
    color: #FFF;
    background-color: #454648;
    border-color: #141619;

    &:hover, &:focus{
        color: #FFF;
        background-color: #202021;
        border-color: #2f353b;
        outline: none;
    }
}

a:hover, button:hover{
    @include css3(transition, all 0.6s linear);
}

.btn{
    @include css3(border-radius, 0);
}

.navbar{
    @include css3(border-radius, 0);
    margin-bottom: 0;
    background-color:#fff;
    border:1px solid #fff;
}


.wrapper{
    margin: 0;
    padding:0;

    .wrap-1{
        width: 100%;
        height: 630px;
        overflow: hidden;
        background-size: 100%;
        background: radial-gradient(ellipse at center, #1e5799 0%,rgba(54, 151, 142, 0.8) 0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%);

        .w1-image{
            width: 100%;
            margin: 0 auto;
            margin-top: 145px;
            float: right;
            text-align: center;

            img{
                width:100%;
            }
        }

        .description{
            margin-top: 200px;
            color: white;
            padding: 5px;

            h2{
                text-shadow: 0 1px 5px rgba(0,0,0,0.2);
                font-weight: 200;
                font-size: 34px;
            }

            h5{
                line-height: 1.4;
                font-weight: 400;
                text-shadow: 0 1px 5px rgba(0,0,0,0.5);
                font-size: 18px;

                p{
                    text-align:left;
                    text-indent:30px;
                    font-size:16px;
                }
            }
        }
    }

    .header-text {
        text-transform: uppercase;
        font-weight: 200;
        color: #666;
        margin-bottom: 20px;
        font-size: 26px;
        position: relative;
        line-height: 24px;
    }

    .wp-desc{
        padding: 30px 0;

        p{
            text-indent: 30px;
            color: #666;
            margin-top: 30px;
            line-height: 28px;
            font-size: 15px;
            font-weight: 200;
        }
    }

    .wrap-2{
        padding:20px;
        border: 2px dashed #ddd;
        border-radius: 3px;
        margin-top: 60px;

        .file-uploader{
            text-align:center;
            position: relative;
            @include css3(user-select, none);

            #drag-file-container{
                padding:80px 0;
            }

            .fa{
                font-size: 80px;
                color:#bbb;
            }

            .upload-text{
                display:block;
                font-size: 20px;
                color:#bbb;
                margin-top:10px;
            }

            .file-uploader-footer{
                text-align: left;
                margin-top: 40px;
                @include css3(user-select, none);
            }

            .video-container-wrap{
                display:none;
            }

            .video-progress-bar-wrap{
                display:none;
            }

            .video-convert-result{
                display:none;

                span{
                    float:right;
                    margin-top: 10px;
                }

                a{
                    color:#fff;
                }
            }

            .vup-text{
                text-align: center;
                font-size: 13px;
                margin-top: -20px;
                color: #15646B;
            }

            .generate-video-gif{
                .fa{
                    font-size: 16px;
                    color: #fff;
                }
            }
        }

        #video-prop{
            max-height:300px;
            border: 1px solid #ddd;
            @include css3('border-radius', 4px);
            @include css3('box-shadow', 0px 1px 3px #6B6B6B);
            margin-bottom:10px;
        }

        #video-control-drag{
            .noUi-handle-lower, .noUi-handle-upper{
                .noUi-tooltip{
                    position: absolute;
                    top: 24px;
                    left: -2px;
                    background-color: #333;
                    white-space: nowrap;
                    color: #fff;
                    padding: 3px 5px;
                    border-radius: 2px;
                    font-size: 11px;

                    &:before{
                        content: "";
                        position: absolute;
                        display: block;
                        top: -6px;
                        left: 50%;
                        width: 0;
                        height: 0;
                        margin-left: -3px;
                        overflow: hidden;
                        border: 3px solid transparent;
                        border-bottom-color: #333;
                    }
                }

                .noUi-tooltip:after{
                    content:'s';
                }
            }
        }

        .video-action-tools{
            margin-top:40px;
        }

        .noUi-target{
            height:10px;

            .noUi-handle{
                height:20px;
                width:20px;
                cursor:pointer;
                @include css3(border-radius, 50%);
                
                &:after{
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -3px;
                    margin-left: -3px;
                    background-color: #666;
                    border-radius: 100px;
                }         

                &:before{
                    background:none;
                }
            }

            .noUi-connect{
                background:#03A9F4;
            }
        }
    }

    .wrap-3, .wrap-4, .wrap-5{
        padding: 100px 0;
    }

    .w2-img{
        img{
            width:100%;
            height: auto;
            border-radius: 10px;
        }
    }

    .img-holder{
        width:100%;
    }

    .wrap-7{
        padding:70px 0 100px;
        overflow: hidden;

        h3{
            text-transform:uppercase;
            margin-bottom: 30px;
            color:#888;
        }

        .owl-item{       
            opacity: .7;
        }
    }
}


footer{
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding: 20px;
    color: #333;
    font-size: 13px;


    .footer-mid {
        span{            
            display: block;
        }
    }

    a{
        text-decoration: none;

        &:hover, &:active, &:focus, &:visited{
            text-decoration:none;
        }
    }

    .fa{
        display: inline-block;
        background: #dfdfdf;
        color: #888;
        font-size: 12px;
        text-decoration: none;
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;
        @include css3(transition,  all 0.6s ease-in-out);
     

        &:hover{
            text-decoration: none;
            background: #984949;
            color:#fff;
        };
    }
}