@mixin css3($property, $value...) {
    -khtml-#{$property}: $value;
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

a:hover, button:hover{
    @include css3(transition, all 0.6s linear);
}

.navbar{
    @include css3(border-radius, 0);
}


.wrapper{
    margin: 0;
    padding:0;

    .wrap-1{
        width: 100%;
        height: 630px;
        overflow: hidden;
        background-size: 100%;
        background: radial-gradient(ellipse at center, #1e5799 0%,rgba(54, 151, 142, 0.8) 0%,#0C526C 100%,#3d7eaa 100%,#182848 100%,#6e48aa 100%,#6e48aa 100%);

        .w1-image{
            width: 100%;
            margin: 0 auto;
            margin-top: 145px;
            float: right;
            text-align: center;

            img{
                width:100%;
            }
        }

        .description{
            margin-top: 200px;
            color: white;
            padding: 5px;

            h2{
                text-shadow: 0 1px 5px rgba(0,0,0,0.2);
                font-weight: 200;
                font-size: 40px;
            }

            h5{
                line-height: 1.4;
                font-weight: 400;
                text-shadow: 0 1px 5px rgba(0,0,0,0.5);
                font-size: 18px;
            }
        }
    }
}