{% extends "base.html" %}
{% load staticfiles %}
{% block title %}home{% endblock %}
{% block content %}
    <!-- Top image -->
    <div class="wrap-1">
        <div class="container">
            <div class="col-md-7">
                <div class="w1-image top-content-1">
                    <img src="{% static 'images/mac1.png' %}">
                </div>
            </div>

            <div class="col-md-5">
                <div class="description text-center top-content-2">
                    <h2>
                        <i class="fa fa-video-camera"></i>
                        Video Convert
                    </h2>
                    <br>
                    <h5>
                        <p>
                            This web application is aim to convert video to different type of medias. You can simply using it through upload your video or paste a video link.
                        </p> 
                        <br>
                        <p>
                            Currently, this web application support convert video to <i>gif</i> and <i>small size video</i>.
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Video Convert Wrap -->
    <div class="wrap-2">
        <div id="video-control-drag"></div>
    </div>


    <!-- info 1 -->
    <div class="wrap-3">
        <div class="container">
            <div class="col-md-5">
                <div class="description wp-desc">
                    <h4 class="header-text text-center">
                        <i class="fa fa-rocket"></i>
                        It's Fast
                    </h4>
                    <p>
                        By downloading the resource with a Personal License you are granted the use of it under the conditions featured in the above table. Ownership stays with Creative Tim, along with the copyright holders and you must abide the following rights and restrictions.
                    </p>
                    <p>
                        This pack is a demo of our latest product. You can download it and use it in any project of yours. 
                    </p>
                </div>
            </div>
            <div class="col-md-7">
               <div class="w2-img">
                    <img src="{% static 'images/mac2.png' %}">
               </div>
            </div>
        </div>
    </div>


    <!-- info 2 -->
    <div class="wrap-4">
        <div class="container">
            <div class="col-md-6">
                <div class="w2-img">
                     <img src="{% static 'images/mac3.jpg' %}">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="description wp-desc">
                    <h4 class="header-text text-center">
                        <i class="fa fa-picture-o"></i>
                        It's Quality
                    </h4>
                    <p>
                        This pack is a demo of our latest product. You can download it and use it in any project of yours.
                    </p>
                    <p>
                        By downloading the resource with a Personal License you are granted the use of it under the conditions featured in the above table. Ownership stays with Creative Tim, along with the copyright holders and you must abide the following rights and restrictions.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- info 3 -->
    <div class="wrap-5">
        <div class="container">
            <div class="col-md-5">
                <div class="description wp-desc">
                    <h4 class="header-text text-center">
                        <i class="fa fa-simplybuilt"></i>
                        It's Simply
                    </h4>
                    <p>
                        This pack is a demo of our latest product. You can download it and use it in any project of yours.
                    </p>
                    <p>
                        By downloading the resource with a Personal License you are granted the use of it under the conditions featured in the above table. Ownership stays with Creative Tim, along with the copyright holders and you must abide the following rights and restrictions.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="w2-img">
                     <img src="{% static 'images/mac4.jpg' %}">
                </div>
            </div>
        </div>
    </div>


    <!-- image scroll -->
    <div class="wrap-6">
        <div class="img-scroll-holder" data-image="{% static 'images/office-wallpaper.jpg' %}"></div>
    </div>


    <!-- carousel -->
    <div class="wrap-7 clearfix">
        <div class="container">
            <h3 class="text-center">
                <i class="fa fa-users"></i>
                Who Use It
            </h3>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="{% static 'images/client-logo1.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo2.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo3.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo4.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo1.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo2.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo3.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo4.png' %}" >
                </div>
            </div>
        </div>
    </div>


    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.imageScroll.min.js" %}"></script>
    <script src="{% static "js/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>
    <script src="{% static "js/nouislider.min.js" %}"></script>
    <script src="{% static "js/wNumb.js" %}"></script>
    <script type="text/javascript">
        // video control drag
        var video_drag_slider = document.getElementById('video-control-drag');
        noUiSlider.create(video_drag_slider, {
            start: [ 0, 10 ],
            behaviour: 'drag',
            connect: true,
            margin: 1,
            tooltips: [ wNumb({ decimals: 0 }), wNumb({ decimals: 0 }) ],
            range: {
                'min':  0,
                'max':  50
            }
        });
        video_drag_slider.noUiSlider.on('change', function( values, handle){
            console.log(values)
        });

        // content scroll
        window.sr = ScrollReveal({
            reset:true
        }).reveal('.wrap-3, .wrap-4, .wrap-5');

        sr.reveal('.top-content-1', {
            delay    : 200,
            distance : '90px',
            origin : 'bottom',
            scale    : 1.1
        });

        sr.reveal('.top-content-2', {
            delay    : 200,
            origin : 'top',
            distance : '90px',
            scale    : 1.1
        });

        // image scroll
        $('.img-scroll-holder').imageScroll({
            coverRatio: 0.5
        });

        // carousel
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
    </script>
{% endblock %}
