{% extends "base.html" %}
{% load staticfiles %}


{% block title %}home{% endblock %}

{% block content %}
    <div class="wrap-1">
        <div class="container">
            <div class="col-md-7">
                <div class="w1-image">
                    <img src="{% static 'images/mac1.png' %}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="description text-center">
                    <h2>Video Convert</h2>
                    <br>
                    <h5>
                        <div>
                            This web application is aim to convert video to different type of medias. You can simply using it through upload your video or paste a video link.
                        </div> 
                        <br>
                        <div>
                            Currently, this web application support convert video to <i>gif</i> and <i>small size video</i>.
                        </div>
                    </h5>
                    <div class="w1-buttons">
                        <button class="btn btn-primary">
                            <i class="fa fa-download"></i>
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
