{% extends "base.html" %}
{% load staticfiles %}
{% block title %}home{% endblock %}
{% block content %}
    <!-- Top image -->
    <div class="wrap-1">
        <div class="container">
            <div class="col-md-7">
                <div class="w1-image top-content-1">
                    <img src="{% static 'images/mac1.png' %}">
                </div>
            </div>

            <div class="col-md-5">
                <div class="description text-center top-content-2">
                    <h2>
                        <i class="fa fa-video-camera"></i>
                        Video Convert
                    </h2>
                    <br>
                    <h5>
                        <p>
                            This web application is aim to convert video to different type of medias. You can simply using it through upload your video or paste a video link.
                        </p> 
                        <br>
                        <p>
                            Currently, this web application support convert video to <i>gif</i> and <i>small size video</i>.
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <!-- Video Convert Wrap -->
    <div class="wrap-2 container">
        <div class="file-uploader">
            <div id="drag-file-container">
                <i class="fa fa-upload"></i>
                <span class="upload-text">Drag file to upload</span>
            </div>

            <div class="video-container-wrap">
                <video id='video-prop' controls preload='none'>
                    <source id='vp-mp4' src="" type='video/mp4'>    
                    <p>Your user agent does not support the HTML5 Video element.</p>
                </video>
                <div id="video-control-drag"></div>
            </div>

            <div class="file-uploader-footer">
                <button class="btn btn-purple">Add File</button>
                <button class="btn btn-dark">Start Upload</button>
            </div>
        </div>
  
      <!--   <div class="video-action-tools cleafix">
            <button class="btn btn-primary generate-video-gif">Generate</button>
        </div> -->

        <div class="video-convert-result"></div>
    </div>


    <!-- info 1 -->
    <div class="wrap-3">
        <div class="container">
            <div class="col-md-5">
                <div class="description wp-desc">
                    <h4 class="header-text text-center">
                        <i class="fa fa-rocket"></i>
                        It's Fast
                    </h4>
                    <p>
                        By downloading the resource with a Personal License you are granted the use of it under the conditions featured in the above table. Ownership stays with Creative Tim, along with the copyright holders and you must abide the following rights and restrictions.
                    </p>
                    <p>
                        This pack is a demo of our latest product. You can download it and use it in any project of yours. 
                    </p>
                </div>
            </div>
            <div class="col-md-7">
               <div class="w2-img">
                    <img src="{% static 'images/mac2.png' %}">
               </div>
            </div>
        </div>
    </div>


    <!-- info 2 -->
    <div class="wrap-4">
        <div class="container">
            <div class="col-md-6">
                <div class="w2-img">
                     <img src="{% static 'images/mac3.jpg' %}">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="description wp-desc">
                    <h4 class="header-text text-center">
                        <i class="fa fa-picture-o"></i>
                        It's Quality
                    </h4>
                    <p>
                        This pack is a demo of our latest product. You can download it and use it in any project of yours.
                    </p>
                    <p>
                        By downloading the resource with a Personal License you are granted the use of it under the conditions featured in the above table. Ownership stays with Creative Tim, along with the copyright holders and you must abide the following rights and restrictions.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- info 3 -->
    <div class="wrap-5">
        <div class="container">
            <div class="col-md-5">
                <div class="description wp-desc">
                    <h4 class="header-text text-center">
                        <i class="fa fa-simplybuilt"></i>
                        It's Simply
                    </h4>
                    <p>
                        This pack is a demo of our latest product. You can download it and use it in any project of yours.
                    </p>
                    <p>
                        By downloading the resource with a Personal License you are granted the use of it under the conditions featured in the above table. Ownership stays with Creative Tim, along with the copyright holders and you must abide the following rights and restrictions.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="w2-img">
                     <img src="{% static 'images/mac4.jpg' %}">
                </div>
            </div>
        </div>
    </div>


    <!-- image scroll -->
    <div class="wrap-6">
        <div class="img-scroll-holder" data-image="{% static 'images/office-wallpaper.jpg' %}"></div>
    </div>


    <!-- carousel -->
    <div class="wrap-7 clearfix">
        <div class="container">
            <h3 class="text-center">
                <i class="fa fa-users"></i>
                Who Use It
            </h3>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="{% static 'images/client-logo1.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo2.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo3.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo4.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo1.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo2.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo3.png' %}" >
                </div>
                <div class="item">
                    <img src="{% static 'images/client-logo4.png' %}" >
                </div>
            </div>
        </div>
    </div>


    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.imageScroll.min.js" %}"></script>
    <script src="{% static "js/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>
    <script src="{% static "js/nouislider.min.js" %}"></script>
    <script src="{% static "js/wNumb.js" %}"></script>
    <script type="text/javascript">
        var convert_home_js = (function($){
            // init drag file uploader
            var init_drag_upload = function(){
                var _drag_container = document.getElementById('drag-file-container');
                var test_env = {
                      filereader: typeof FileReader != 'undefined',
                      dnd: 'draggable' in document.createElement('span'),
                      formdata: !!window.FormData,
                      progress: "upload" in new XMLHttpRequest
                };


                // test browser
                var test_browser = function(){
                    "filereader formdata progress".split(' ').forEach(function (api) {
                        if (test_env[api] === false) {
                            alert('do not support drag upload!');
                        }
                    });
                }

                var send_request = function(form_data){
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/convert/video');

                    xhr.onload = function(result) {
                        var res_json = jQuery.parseJSON(xhr.responseText);
                        if(!res_json.error){
                            $('#vp-mp4').attr('src', res_json.response_file);
                            var _video = document.getElementById('video-prop');
                            _video.load();
                            _video.play();
                            
                            $('.video-container-wrap').show();
                            $('#drag-file-container').hide();
                        }else{
                            $('.video-container-wrap').hide();
                            $('#drag-file-container').show();
                        }
                        
                        console.log(100);
                    };

                    xhr.upload.onprogress = function (event) {
                        if (event.lengthComputable) {
                            var complete_percentage = (event.loaded / event.total * 100 | 0);
                            console.log(complete_percentage)
                        }
                    }
                    
                    xhr.send(form_data);
                }


                var read_file = function(files){
                    var form_data = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        form_data.append('file', files[i]);
                    }

                    form_data.append('type', 'upload');
                    send_request(form_data);
                }

                _drag_container.ondragover = function () { 
                    this.className = 'hover'; 
                    return false; 
                };

                _drag_container.ondragend = function () { 
                    this.className = ''; 
                    return false; 
                };

                _drag_container.ondrop = function (event) { 
                    event.preventDefault();
                    read_file(event.dataTransfer.files);
                };

                test_browser();
            }

            // video control drag
            var init_video = function(){
                var _video_drag_slider = document.getElementById('video-control-drag');
                var _video = document.getElementById('video-prop');
                var _timeout_id, _video_start_time = 0, _video_end_time = 5, _video_duration;

                // play video 
                var play_video = function(){
                    _video.play();
                }

                // paused video
                var pause_video = function(){
                    _video.pause();
                }


                // create video slider
                noUiSlider.create(_video_drag_slider, {
                    start: [ _video_start_time, _video_end_time ],
                    behaviour: 'drag',
                    connect: true,
                    margin: 1,
                    step : 1,
                    tooltips: [ wNumb({ decimals: 0 }), wNumb({ decimals: 0 }) ],
                    range: {
                        'min':  0,
                        'max':  50
                    }
                });

                // listening the video slider evnet 
                _video_drag_slider.noUiSlider.on('change', function( data, handle){
                    _video_start_time = data[0],
                    _video_end_time = data[1];

                    // clear timeout
                    clearTimeout(_timeout_id);

                    // set start time
                    _video.currentTime = _video_start_time;
                    play_video();

                    // paused when reach the end time
                    _timeout_id = setTimeout(function(){ 
                        pause_video();
                    }, (_video_end_time-_video_start_time+1)*1000);
                });

                // generate gif from video
                var generate_gif = function(event){
                    var _gif_time_length = _video_end_time - _video_start_time;
                    var data = {
                        start_timestamps : _video_start_time,
                        gif_duration : _gif_time_length,
                        type : 'gif',
                        link : 'https://media.w3.org/2010/05/sintel/trailer.mp4'
                    }

                    $('.video-convert-result').html('Loading...');
                    $.ajax({
                        type : 'post',
                        data : data,
                        url : '/convert/video',
                        dataType : 'json'
                    }).done(function(res){
                        if(!res.error){
                            $('.video-convert-result').html(res.response_file);
                        }
                    })
                }

                return {
                    bind : function(){
                        $('.generate-video-gif').on('click', generate_gif);
                    }
                }
            }

            // content scroll 
            var init_content_scroll = function(){
                window.sr = ScrollReveal({
                    reset:true
                }).reveal('.wrap-3, .wrap-4, .wrap-5');

                sr.reveal('.top-content-1', {
                    delay    : 200,
                    distance : '90px',
                    origin : 'bottom',
                    scale    : 1.1
                });

                sr.reveal('.top-content-2', {
                    delay    : 200,
                    origin : 'top',
                    distance : '90px',
                    scale    : 1.1
                });
            }

            // init image scroll
            var init_image_scroll = function(){
                $('.img-scroll-holder').imageScroll({
                    coverRatio: 0.5
                });
            }

            // init carousel
            var init_carousel = function(){
                $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:10,
                    nav:false,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:5
                        }
                    }
                })
            }

            return {
                bind : function(){

                },
                init : function(){
                    init_drag_upload();
                    init_video().bind();
                    init_content_scroll();
                    init_image_scroll();
                    init_carousel();
                }
            }
        })($);
        
        convert_home_js.bind();
        convert_home_js.init();      
    </script>
{% endblock %}
